.about {
  background-color: #0a2850;
  display: flex;
  position: relative;
  overflow: hidden;
  position: relative;
}

.about__title {
  max-width: 251px;
  margin: 0;
  padding: 100px 0 0 88px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
  color: white;
}

.about__content {
  margin-left: auto;
  padding: 119px 80px 173px;
  max-width: 660px;
  font-family: "Noto Serif", Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.about__paragraph {
  gap: 20px;
  margin: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.5s ease-in-out infinite;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Enlarges the circle */
  }
  100% {
    transform: scale(1); /* Returns to original size */
  }
}
