.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__content {
  padding: 60px 80px 108px;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__column-heading {
  color: white;
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 20px;
}

.footer__social-link {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.footer__social-link:hover {
  color: #c1c1c1;
  opacity: 0.7;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  margin: 0;
  padding: 0 80px 60px;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
