.menu {
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url("/images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu__title {
  margin: 0;

  padding: 0 0 24px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  margin: 0;
  padding: 0 0 100px;
  text-align: center;
  font-family: "Noto Serif", Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card {
  width: 540px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card__list-item {
  display: flex;
  margin: 0 0 16px;
  font-family: "Noto Serif", Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  flex-grow: 10;
  border-bottom: 2px solid black;
}
