.recipes {
  background-color: #0a2750;
  background-image: url("/images/background_recipes.svg");
  padding: 100px 80px 215px;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  margin-top: 24px;
  font-family: "Noto Serif", Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__iframe {
  border: none;
  width: 560px;
  height: 315px;
}
